<section class="section header-shop">
    <div class="header-shop-container">
        <div class="container">
            <div class="shop-row">
                <div class="shop-left">
                    <h1><%= title%></h1>
                </div>
                <div class="shop-right">
                    <ul>
                        <li><a href="/">Home </a></li>
                        <li style="color: #777;font-weight: 100"> / <%= title%></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-clear"></div>
</section>