<div class="secttion headd" id="main">
    <div class="containerner">
        <div class="tel">
            <a href="tel:84857870789"><i class="fas fa-phone-alt"> </i> &nbsp;&nbsp;(+084) 787 0789 </a>
            <a href="mailto:ngminhtien98@icloud.com"><i class="fas fa-envelope"> </i> &nbsp;&nbsp;ngminhtien98@icloud.com </a>
        </div>
<!--        <div class="searchicon">-->
<!--            <a href="#" onclick="openNav()"><i class="fas fa-bars"></i></a>-->
<!--            <i class="fas fa-search"></i>-->
<!--        </div>-->
        <div class="face">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.pinterest.com" target="_blank"><i class="fab fa-pinterest-p"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</div>
<header class="secttion headder">
    <div class="containerner">
        <div class="logo">
            <a href="/"><img src="/imgs/header_footer/logo.png"/></a>
        </div>
        <div class="right">
            <div class="navbarbar">
                <div class="dropdowndown">
                    <button class="dropbtntn" ><a href="/">HOME</a>
<!--                        <i class="fas fa-angle-down"></i>-->
                    </button>
<!--                    <div class="dropdowndown-content">-->
<!--                        <a href="#">Main Home</a>-->
<!--                        <a href="#">Home Booking</a>-->
<!--                        <a href="#">Home Video</a>-->
<!--                    </div>-->
                </div>
                <div class="linklink">
                    <a href="/booking">BOOK AN APPOINTMENT</a>
                </div>
                <div class="linklink">
                    <a href="/shopping">SHOP</a>
                </div>
<!--                <div class="dropdowndown">-->
<!--                    <button class="dropbtntn">ELEMENTS-->
<!--                        <i class="fas fa-angle-down"></i>-->
<!--                    </button>-->
<!--                    <div class="dropdowndown-content">-->
<!--                        <div class="roww">-->
<!--                            <div class="columnn">-->
<!--                                <h3>Multiple Shortcodes</h3>-->
<!--                                <a href="#"><i class="fas fa-exclamation-triangle"></i> &nbsp;&nbsp;&nbsp;Alerts</a>-->
<!--                                <a href="#"><i class="fab fa-simplybuilt"></i> &nbsp;&nbsp;&nbsp;Buttons</a>-->
<!--                                <a href="#"><i class="far fa-paper-plane"></i> &nbsp;&nbsp;&nbsp;Contact Forms</a>-->
<!--                            </div>-->
<!--                            <div class="columnn">-->
<!--                                <h3>Custom Shortcodes</h3>-->
<!--                                <a href="#"><i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp;&nbsp;Google Maps</a>-->
<!--                                <a href="#"><i class="fas fa-book"></i> &nbsp;&nbsp;&nbsp;Jumbotrons</a>-->
<!--                                <a href="#"><i class="far fa-star"></i> &nbsp;&nbsp;&nbsp;Panels</a>-->
<!--                            </div>-->
<!--                            <div class="columnn">-->
<!--                                <h3>Unique Diesign</h3>-->
<!--                                <a href="#"><i class="fab fa-playstation"></i> &nbsp;&nbsp;&nbsp;Princing Table</a>-->
<!--                                <a href="#"><i class="fas fa-tasks"></i> &nbsp;&nbsp;&nbsp;Proress Bars</a>-->
<!--                                <a href="#"><i class="fas fa-users"></i> &nbsp;&nbsp;&nbsp; Our Clients</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="dropdowndown">-->
<!--                    <button class="dropbtntn">PAGES-->
<!--                        <i class="fas fa-angle-down"></i>-->
<!--                    </button>-->
<!--                    <div class="dropdowndown-content">-->
<!--                        <a href="#">Services</a>-->
<!--                        <a href="#">About us</a>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="linklink">
                    <a href="/blog">BLOG</a>
                </div>
                <div class="linklink">
                    <a href="/contact">CONTACT US</a>
                </div>
            </div>
        </div>
    </div>
</header>