<div class="section slide2 slide3">
    <div class="container">
        <div class="slide2_head">
            <h2 style="text-transform: capitalize">featured</h2>
            <p>Here are team's featured pages</p>
        </div>
        <div id="box">
            <div class="item">
                <img src="imgs/header_footer/groomax_grooming1.png"/>
                <h3>Booking Site</h3>
                <p>Appointment scheduling pages</p>
                <a href="/booking"><button>Explore <i class="vc_btn3-icon fa fa-long-arrow-right"></i></button></a>
            </div>
        </div>
        <div id="box">
            <div class="item">
                <img src="imgs/header_footer/groomax_grooming1.png"/>
                <h3>Blog</h3>
                <p>Aggregator of dog and cat articles</p>
                <a href="/blog"><button>Explore <i class="vc_btn3-icon fa fa-long-arrow-right"></i></button></a>
            </div>
        </div>
        <div id="box">
            <div class="item">
                <img src="imgs/header_footer/groomax_grooming1.png"/>
                <h3>Shopping site</h3>
                <p>Merchandise purchase feature page</p>
                <a href="/shopping"><button>Explore <i class="vc_btn3-icon fa fa-long-arrow-right"></i></button></a>
            </div>
        </div>
        <div class="slide3_head">
            <h2 style="padding-top: 450px;">Group Assignment</h2>
            <p>The information bellow shows you how we assign together to code this simple website</p>
        </div>
        <div class="left">
            <div class="left-in">
                <h3>Nguyen Tien Duong (2000)</h3>
                <p><img src="imgs/header_footer/one-1.png">
                    <ol>
                       <li>Using: HTML5, CSS3, JavaScript</li>
                       <li>Site: Home, Booking, Header and Footer</li>
                       <li>Contribution: 25%</li>
                    </ol>
                </p>
            </div>
            <div class="left-in">
                <h3>Le Duc Anh (1992)</h3>
                <p><img src="imgs/header_footer/three.png">
                    <ol>
                        <li>Using: HTML5, CSS3, JavaScript, Bootstrap, jQuery</li>
                        <li>Site: Shopping</li>
                        <li>Contribution: 25%</li>
                    </ol>
                </p>
            </div>
        </div>
        <div class="mid">
            <img src="imgs/header_footer/groomax-dog.png"/>
        </div>
        <div class="right">
            <div class="left-in">
                <h3>Nguyen Minh Tien (1998)</h3>
                <p><img src="imgs/header_footer/two.png">
                    <ol>
                        <li>Using: HTML5, CSS3, JavaScript, Bootstrap, jQuery, NodeJS</li>
                        <li>Site: Blog, Article, Function(Grouping article and post via their properties)</li>
                        <li>Contribution: 25%</li>
                    </ol>
                </p>
            </div>
            <div class="left-in">
                <h3>La Nguyen Tung (2000)</h3>
                <p><img src="imgs/header_footer/four.png">
                    <ol>
                        <li>Using: HTML5, CSS3</li>
                        <li>Site: About us, Data for articles</li>
                        <li>Contribution: 25%</li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
</div>
