<div class="section slide3_5">
    <div class="container">
        <div class="slide3_5-item">
            <span id="dem">0</span><br/>
            <p>Hours Of Learning</p>
        </div>
        <div class="slide3_5-item">
            <span id="dem1">0</span><br/>
            <p>Contributors</p>
        </div>
        <div class="slide3_5-item">
            <span id="dem2">0</span><br/>
            <p>Hour Of Researching</p>
        </div>
        <div class="slide3_5-item">
            <span id="dem3">0</span><br/>
            <p>Months Of Practicing</p>
        </div>
    </div>
</div>
