<div class="section slide5">
    <div class="container">
<!--        <div class="slide3_head">-->
<!--            <h2>Pricing Table</h2>-->
<!--            <p>Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia consequuntur magni dolores.</p>-->
<!--        </div>-->
<!--        <div class="slide5_item">-->
<!--            <div class="slide5-item">-->
<!--                <button>CHOOSE</button>-->
<!--            </div>-->
<!--            <div class="item-content">-->
<!--                <span>$29</span>-->
<!--                <span style="font-size: 30px;line-height: 48px;font-weight: 900;font-family: 'Nunito', sans-serif;">/ year</span>-->
<!--                <p>Basic Package</p>-->
<!--                <div class="gachduoi"></div>-->
<!--                <ul style="color:rgba(37,37,37,0.7);">-->
<!--                    <li>Massage &amp; Spa</li>-->
<!--                    <li>Handstripping</li>-->
<!--                    <li>Bath &amp; Brush</li>-->
<!--                    <li>Dog Walking</li>-->
<!--                    <li>Day Care</li></ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="slide5_item">-->
<!--            <div class="slide5-item">-->
<!--                <button>CHOOSE</button>-->
<!--            </div>-->
<!--            <div class="item-content">-->
<!--                <span>$39</span>-->
<!--                <span style="font-size: 30px;line-height: 48px;font-weight: 900;font-family: 'Nunito', sans-serif;">/ year</span>-->
<!--                <p>Advanced Package</p>-->
<!--                <div class="gachduoi"></div>-->
<!--                <ul style="color:rgba(37,37,37,0.7);">-->
<!--                    <li>Massage &amp; Spa</li>-->
<!--                    <li>Handstripping</li>-->
<!--                    <li>Bath &amp; Brush</li>-->
<!--                    <li>Dog Walking</li>-->
<!--                    <li>Day Care</li></ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="slide5_item">-->
<!--            <div class="slide5-item">-->
<!--                <button>CHOOSE</button>-->
<!--            </div>-->
<!--            <div class="item-content">-->
<!--                <span>$49</span>-->
<!--                <span style="font-size: 30px;line-height: 48px;font-weight: 900;font-family: 'Nunito', sans-serif;">/ year</span>-->
<!--                <p>Pro Package</p>-->
<!--                <div class="gachduoi"></div>-->
<!--                <ul style="color:rgba(37,37,37,0.7);">-->
<!--                    <li>Massage &amp; Spa</li>-->
<!--                    <li>Handstripping</li>-->
<!--                    <li>Bath &amp; Brush</li>-->
<!--                    <li>Dog Walking</li>-->
<!--                    <li>Day Care</li></ul>-->
<!--            </div>-->
<!--        </div>-->
        <div class="slide3_head">
            <h2>Our Team</h2>
            <p>The links bellow lead you to each of us's social media profile. Let's make some conversation about coding!</p>

        </div>
        <div class="tab-content">
            <div class="cinema" id="cinema">
                <div id="1" class="tab active">
                    <img src="imgs/profile/LaNguyenTung.jpg" width="270px" height="270px">
                    <div class="flex">
                        <a href="https://www.facebook.com/languyentung.0411" target="_blank"><p>LA NGUYEN TUNG</p></a>
                    </div>
                </div>
                <div id="2" class="tab">
                    <img src="imgs/profile/NguyenMinhTien.jpg" width="270px" height="270px">
                    <div class="flex">
                        <a href="https://www.facebook.com/minhtien.nguyen.1998" target="_blank"><p>NGUYEN MINH TIEN</p></a>
                    </div>
                </div>
                <div id="3" class="tab">
                    <img src="imgs/profile/NguyenTienDuong.jpg" width="270px" height="270px">
                    <div class="flex">
                        <a href="https://www.facebook.com/profile.php?id=100014131879399&sk=media_set&set=a.130727094075019&type=3" target="_blank"><p>NGUYEN TIEN DUONG</p></a>
                    </div>
                </div>
                <div id="4" class="tab">
                    <img src="imgs/profile/LeDucAnh.jpg" width="270px" height="270px">
                    <div class="flex">
                        <a href="https://www.facebook.com/ducanhtc?sk=wall&fref=gm&__tn__=%2Cd-_-R&eid=ARANRtYHuUDXEmr1O0yGKsVJCa2_qlzHgVLXi0CXJp3xMKP1OshUhJ5j6vk4N78L7Kli0_Y2LZazMB2c&dti=662600604305716&hc_location=group"><p>LE DUC ANH</p></a>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="nav">-->
<!--            <button onclick="tabs(this,0)" class="item active">-->
<!--                <i style="float: right" class="fas fa-long-arrow-alt-left"></i>-->
<!--            </button>-->
<!--            <button onclick="tabs(this,1)" class="item">-->
<!--                <i style="float: left;" class="fas fa-long-arrow-alt-right"></i>-->
<!--            </button>-->
<!--        </div>-->
    </div>
</div>
