<div class="section slide1">
    <img class="lag" style="margin-top: 30px;" src="imgs/header_footer/groomax-layer2-slider1.png">
    <img class="lag" style="margin-bottom: -400px;margin-left: -90px" src="imgs/header_footer/groomax-layer3-slider1.png">
    <div class="container">
        <div class="left">
            <img src="imgs/header_footer/groomax-layer1-slider1.png">
            <h1>GROOMAX</h1>
            <p style="width: 100%"> Hello guys, welcome to our <span style="font-weight: 900; font-size: 20px">T2005E FPT-Apteach Noname group</span>. This is our very first front-end-only site named GROOMAX. The site is all about dogs and cats. Let's check it out and we hope you to give us more suggestions for the better sites in the future! Thank you! </p>
            <a href="/contact"><button>CONTACT US</button></a>
        </div>
        <div class="right">
            <img class="lag" style="margin-top: 260px;float: left!important;" src="imgs/header_footer/groomax-layer4-slider1.png">
            <img style=" width: 450px;height: 550px;float: right;" src="imgs/header_footer/groomax-dog-slider1.png">
        </div>
    </div>
</div>