<div class="section slide6">
    <div class="container">
        <div class="slide6_left">
            <h2>Subscribe to our Newsletter</h2>
            <span>Receive weekly newsletter with updates and more !</span></br>
            <span><i>(This function has not been completed due to lack of database knowledge and skills. This is just an interface!)</i></span>
        </div>
        <div class="slide6_right">
            <input type="email" name="EMAIL" placeholder="Insert your email" required=""/>
            <input type="submit" value="Submit">
        </div>
    </div>
</div>
